body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #9f73f0;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

h1 {
  margin-top: 50px;
  font-size: xx-large;
}

.form-box {
  margin-top: 32px;
  max-width: 580px;
  margin-bottom: 15%;
  color: black;
  border-radius: 24px;
  padding: 2.5% 10% 3% 10%;
  background-color: white;
  box-shadow: 5px 10px 8px #4b2abd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"],
input[type="text"],
input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  border: solid 2px #341e82;
  width: 400px;
}

input[type="submit"] {
  width: 150px;
  background-color: #4b2abd;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #341e82;
}

p {
  font-size: 18px;
  margin-top: 30px;
}

a {
  text-decoration: underline;
  color: white;
  font-size: 18px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .form-box {
    width: 100%;
    margin-bottom: 20%;
    border-radius: 0;
  }

  input[type="file"],
  input[type="text"] {
    width: 80%;
  }

  input[type="submit"] {
    width: 50%;
  }
}
